@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes slideDiagonal {
    0% {
      transform: translate(-100%, -100%);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .animate-slideDiagonal {
    animation: slideDiagonal 0.3s ease-in-out;
  }

@keyframes fadeInSlideDownFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-fadeInSlideDownFromTop {
    animation: fadeInSlideDownFromTop 0.3s ease-in-out;
  }
    

.font-sans {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.font-sans1 {
    font-family: 'Inter', sans-serif;
    font-weight: 550;
}

.font-sans2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.backdrop-blur {
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  }

.text-blue{
    background-color: white;
    opacity: 0.2;

}

.input{
    ::placeholder {
        color: white;
      }
}

.text-co{
    color:black;
    opacity: 0.4;
}

.w-80{
    width: 10vw;
}

.bg{
    background-color: #f0f0f3;
    /* opacity: 0.6; */
}

.mt-1 {
    margin-top: 0.1rem/* 4px */;
}
